<div id="<%= dom_id cadastro %>">
  <p>
    <strong>Nome:</strong>
    <%= cadastro.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= cadastro.idade %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= cadastro.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= cadastro.telefone %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= cadastro.cep %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= cadastro.cidade %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= cadastro.rua %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= cadastro.estado %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= cadastro.complemento %>
  </p>

</div>
