<% if @p %>
  <div class="max-w-sm w-full md:w-1/3 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-white">
    <!-- Exibindo a imagem do produto -->
    <div class="mb-4">
      <% if @p.imagem %>
        <%= image_tag @p.imagem, class: "w-full h-auto rounded-lg" %>
      <% else %>
        <p>Imagem não disponível</p>
      <% end %>
    </div>

    <ol>
      <li>
        <h1><%= @p.name %></h1>
        <p><strong>Preço:</strong> <%= @p.price %></p>
        <p><strong>Quantidade em estoque:</strong> <%= @p.quantity %></p>
      </li>
    </ol>

    <%= link_to 'Voltar para a lista de produtos', produtos_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-6 rounded" %>
  </div>
<% else %>
  <p>Produto não encontrado.</p>
<% end %>
